/* Global */
:root { 
    /* Color */
    --white-color:#fff;
    --black-color:#19191A;
    --blue-color:#0B47CA;
    --red-color:#FB0006;
    --red-dark-color:#BE0004;
    --grey-dark-color:#7D7D7F;
    --grey-light-color:#4D4D4D;


    /* Size */
    --padding: 12px;
    --avatar-size: 36px;
    --icon-size: 16px;

    /* Font Size */
    --font-large: 18px;
    --font-medium: 16px;
    --font-small: 12px;
    --font-micro: 10px;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
}

.ul { 
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--white-color);
}

/* Header */
header { 
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    display: flex;
    font-size: var(--font-large);
}

header .logo i{ 
    color: var(--red-color);
    font-size: 22px;
}

header .icons .fa-search {
    margin-right: var(--padding);
}

/* Video Player */
.player {
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color);
}

.player video {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}   

/* Video info */
body > .info {
    padding: var(--padding);
}

.info .metadata {
    margin: 0 var(--padding);
}
.info .metadata .hashtags {
    color: var(--blue-color);
    display: flex;
    font-size: var(--font-small);
    list-style: none;
    margin-top: var(--padding);
}

.info .metadata .hashtags li {
    margin-right: var(--padding);
}

.info .metadata .titleAndButton {
    display: flex;
}

.info .metadata .titleAndButton .title {
    font-size: var(--font-medium);
    margin-right: var(--padding);
}

.info .metadata .titleAndButton .title.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.info .metadata .titleAndButton .moreBtn {
    height: 100%;
    transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
    transform: rotate(180deg);
}

.info .metadata .views {
    font-size: var(--font-small);
    color: var(--grey-light-color);
}

/* Action Buttons */
.info .actions {
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0;
}

.info .actions li {
    list-style: none;
}
.info .actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
}

.info .actions button i {
    margin-bottom: calc(var(--padding) / 2);
    margin: 0 auto;
    font-size: var(--icon-size);
    color: var(--grey-dark-color);
}

.info .actions button i.active {
    color: var(--blue-color);
}

/* Channel description */
.info .channel {
    display: flex;
    justify-content: space-between;
    padding: var(--padding) 0;
    border-top: 1px solid var(--grey-dark-color);
    border-bottom: 1px solid var(--grey-dark-color);
}

.info .channel .metadata {
    display: flex;
    align-items: center;
}

.info .channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    margin-right: var(--padding);
}

.info .channel .metadata .info {
    display: flex;
    flex-direction: column;
}

.info .channel .metadata .info .name {
    font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}    

.info .channel button {
    font-size: var(--font-medium);
    text-transform: uppercase;
    margin-right: var(--padding);
    color: var(--red-dark-color);
}

/* Up Next */
.upNext {
    padding: var(--padding);
}

.upNext > .title {
    font-size: var(--font-medium);
    color: var(--grey-light-color);
}

.upNext .item {
    display: flex;
    margin-top: var(--padding);
}

.upNext .item .img {
    flex: 1 1 35%;
    margin-right: var(--padding);
}

.upNext .item .img img {
    width: 100%;   
}

.upNext .item .info {
    flex: 1 1 60%;
}

.upNext .item .moreBtn {
    flex: 1 1 5%;
    height: 100%;
}

.upNext .item .info {
    display: flex;
    flex-direction: column;
}

.upNext .item .info .title {
    font-size: var(--font-small);
}

.upNext .item .info .name,
.upNext .item .info .views {
    font-size: var(--font-micro);
    color: var(--grey-dark-color);
}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .infoAndUpNext {
        flex-direction: row;
        margin: var(--padding) 0;
    }
    
}
